<html ng-app="shortlyClient">

<head>
  <title>Shortly Client with AngularJS</title>
  <script src="lib/angular.js"></script>
  <script src="lib/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <h1>Shortly Client with AngularJS</h1>

  <!-- top navigation bar -->
  <div class="navigation" ng-controller="navController" ng-include="template.url">
  </div>

  <!-- placeholder for views -->
  <div id="container" ng-view="">
  </div>

  <!-- setup the application module -->
  <script>
  var shortlyClient = angular.module('shortlyClient', ['ngRoute']);
  </script>

  <!-- Setup router -->
  <script>
  shortlyClient.config( 
    function($routeProvider, $locationProvider) {
    $locationProvider.html5Mode(true);
    $routeProvider
      .when('/', {
        controller: 'listController',
        templateUrl: 'partials/links.html'
      })
      .when('/create', {
        controller: 'createViewController',
        templateUrl: 'partials/createView.html'
      })
      .when('/:short', {
        controller: 'shortUrlController',
        templateUrl: 'partials/links.html'
      })
      .otherwise( {
        redirectTo: '/'
      });
  });
  </script>

  <!-- Setup Controllers -->
      <!-- Navigation View Controller -->
  <script>
  shortlyClient.controller(
    'navController', 
    function($scope) {
      $scope.template = { 
        name: 'navigation.html', 
        url: 'partials/navigation.html'
      }
  });

  shortlyClient.controller(
    'shortUrlController', 
    function($scope, $routeParams, $window) {
      $window.location.href = $routeParams.short;
  })
  </script>

      <!-- Create View Controller -->
  <script>
  shortlyClient.controller(
    'createViewController', 
    function($scope, dataApi) {
      $scope.postUrl = function() {
        dataApi
        .postLink($scope.shorten)
        .then(function(data) {
          $scope.postResp = data.data;
        })
    };
  });
  </script>

      <!-- List View Controller -->
  <script>
  shortlyClient.controller(
    'listController', 
    function($scope, dataApi) {
      $scope.order = 'visits';
      $scope.reverse = false;
      dataApi.getLinks().then( 
        function(data) {
          $scope.links = data.data;
      });
      $scope.reverseSort = function() {
        if ($scope.order === 'updated_at')
          $scope.reverse = !$scope.reverse;
        else
          $scope.order = 'updated_at';
      };
      $scope.changeSort = function() {
        if ($scope.order === 'visits')
          $scope.reverse = !$scope.reverse;
        else 
          $scope.order = 'visits';
      };
  });
  </script>

  <!-- Setup Services -->
      <!-- HTTP service -->
  <script>
  shortlyClient.factory('dataApi', function($http, $q) {
    var links = [];
    var deferred;
    return {
      get: function() {
        deferred = deferred || this.getLinks();
        return deferred;
      },
      getLinks: function() {
        deferred = $http.get('/links');
        deferred
        .success( 
          function(data) {
            data.forEach( 
              function(link) {
                var d = new Date( link.updated_at );
                link.updated_at = d.toDateString() + ' - ' + d.toLocaleTimeString();
                var d = new Date( link.created_at );
                link.created_at = d.toDateString() + ' - ' + d.toLocaleTimeString();
              });
          links = data;
        })
        .error( function(error) {
          console.log('dataApi.getLinks return error ', error);
        });
        return deferred; 
      },
      postLink: function(link) {
        deferred = $http({
          method: 'POST', 
            url: '/links',
            data: {url : link }
        });
        return deferred;
      }
    }
  });
  </script>

</body>
</html>